<main>
    <a href="./new">
        <div class="add_task">
            <i class="material-icons">add_circle_outline</i>
            <p>Dodaj zadanie</p>
        </div>
    </a>
    
    {{#each tasks}}

        <a href="./task/{{ this.id }}">
            <div class="task">
            <div class="task_header" style="background-color:  {{ this.color }};">
                    {{ this.title }}
            </div>
            <div class="task_body {{#if this.completed}}completed_task{{/if}}">
                {{ this.content }}
            </div>
            <div class="task_footer" style="background-color:  {{ this.color }};">
                <div>
                Utworzono: {{ this.creation_date }}
                </div>
                {{#if this.completed}}

                    <div>
                        Ukończono: {{ this.completion_date }}
                    </div>

                {{/if}}
            </div>
        </div>
        </a>

    {{/each}}
</main>